* {
    font-family: "SF Pro Display", "SF Pro Icons", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F7;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 940px;
    margin: auto;
}

main {
    margin-top: 80px;
}

aside {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0px;
    background-color: #F0F0F2;

}

.education {
    /* margin-top: 20px; */
    padding: 10px 0px;
}

.education ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: 20px; */
    list-style: none;
    color: #000000cc;
}

.education ul li {
    padding: 0px 10px;
}

.education ul li a {
    color: #000000cc;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.education li:first-child {
    border-right: 1px solid #00000071;
}

.navbar {
    padding: 15px;
    width: 100%;
}

.navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass_bag_icon{
    display: flex;
    gap: 40px;
}

header {
    background-color: rgb(255, 255, 255);
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}

.navbar .navbar_list ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 35px;
    list-style: none;
    color: #000000cc;
}

.navbar_list a{
    color: #000000cc;

}

.navbar .navbar_list ul li a {
    font-size: 12px;
    color: #000000cc;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.fa-magnifying-glass,
.fa-bag-shopping {
    font-size: 15px;
}

.ad_sec {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-apple {
    font-size: 20px;
}

.ad {
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 20px 0px;
    /* position: absolute; */
}


.ad p {
    font-size: 16px;
    color: #1d1d1f;
    font-weight: 300;
}

.ad p a {
    text-decoration: none;
    color: #0066CC;
}

.fa-circle-plus {
    background: black;
    color: white;
    border: 1px solid #0066CC;
    border-radius: 100%;
}

.main_img {
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 10px solid white;
}

.main_img button {
    background-color: #0066cc00;
    border: 1px solid #0066CC;
    padding: 11px 21px;
    border-radius: 25px;
    color: #0066CC;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 50px;

}

.main_img button:hover {
    background-color: #0066CC;
    color: white;
}

.student_background_img {
    background-image: url(./img/student_img.jpg);
    width: 100vw;
    height: 75vh;
    background-position: center center;
    background-size: cover;
    border-bottom: 10px solid white;

}

.student_background_contant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    color: white;
    padding-bottom: 55px;
}

.student_background_contant h2 {
    font-size: 56px;
    font-weight: 600;
}

.student_background_contant h3 {
    font-size: 28px;
    font-weight: 400;
}

.student_background_contant button {
    padding: 11px 21px;
    background-color: #0066CC;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 300;
}

.macbookpro_img {
    background-image: url(./img/macbookAir.jpg);
    width: 100vw;
    height: 68vh;
    background-position: center center;
    background-size: cover;
    border-bottom: 10px solid white;
}

.macbookpro_contant h2 {
    font-size: 56px;
    font-weight: 600;
}

.macbookpro_contant p {
    font-size: 28px;
    font-weight: 400;
}


#macbookpro_contant_learn_btn {
    padding: 11px 21px;
    background-color: #0066CC;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 300;
}

#macbookpro_contant_shop_btn {
    background-color: #0066cc00;
    border: 1px solid #0066CC;
    padding: 11px 21px;
    border-radius: 25px;
    color: #0066CC;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 50px;
}

#macbookpro_contant_shop_btn:hover {
    background-color: #0066CC;
    color: white;
}

.macbookpro_contant{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 55px;
    margin-top: 50px;
}


.apple_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    border-bottom: 10px solid white;
}




.ipad_air{
    background-image: url(./img/ipadair_img.jpg);
    width: 49vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 50px; */
    padding-top: 30px;
}

.ipad_air p{
    font-size: 28px;
    font-weight: 400;
}


.macbook_pro{
    background-image: url(./img/macbook_pro.jpg);
    width: 49vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 50px; */
    padding-top: 30px;
}

.macbook_pro p{
    font-size: 28px;
    font-weight: 400;
}

.macbook_pro h2{
    font-size: 40px;
    font-weight: 600;
}

.ipad_pro{
    background-image: url(./img/ipad_pro.jpg);
    width: 49vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 50px; */
    padding-top: 30px;
}

.ipad_pro p{
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.ipad_pro h2{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.iphone15_pro{
    background-image: url(./img/iphone15_pro.jpg);
    width: 49vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 50px; */
    padding-top: 30px;
}

.iphone15_pro p{
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.iphone15_pro h2{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.app_store{
    background-image: url(./img/app_store.jpg);
    width: 49vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 50px; */
    padding-top: 30px;
}

.app_store p{
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.app_store h2{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

#macbookpro_contant_learn_btn_white{
    padding: 9px 18px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 300;
}

.trade_in{
    background-image: url(./img/tradin_img.jpg);
    width: 49vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 50px; */
    padding-top: 30px;
}

.trade_in p{
    font-size: 28px;
    font-weight: 400;
}


.movie_img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid white; 
}

footer{
    margin-top: 20px;
}

.footer_para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgba(110, 108, 108, 0.582);
    padding-bottom: 15px;
}

.footer_para p{
    font-size: 12px;
    color: #0000008f;
}

.footer_li_col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_li_col h6{
    padding-bottom: 10px;
}

.footer_li{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer_li h6{
    font-size: 12px;
    color: #000000e0;

}

.footer_li ul li{
    list-style: none;
    color: #000000b8;
    font-size: 12px;
    line-height: 30px;
}

.call_number_sec{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(110, 108, 108, 0.582);
}
.call_number_sec p{
    font-size: 12px;
    color: #000000b8;
}

.call_number_sec p a{
    color: #0066CC;
}



.policy {
    /* margin-top: 20px; */
    padding: 10px 0px;
}

.policy ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: 20px; */
    list-style: none;
    color: #000000cc;
}

.policy ul li {
    padding: 0px 10px;
    border-right: 1px solid #00000071;
}

.policy ul li a {
    color: #000000cc;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.copytight_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px 0px;
}

.copytight_sec p{
    font-size: 12px;
    color: #0000008f;
}

.copy_policy_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width:1246px) {
    .apple_list{
        display: flex;
        flex-direction: column;
    }   
    
    .ipad_air,
    .macbook_pro,
    .ipad_pro,
    .iphone15_pro,
    .app_store{
        width: 100%;
        border-bottom: 10px solid white;
    }

    .trade_in,
    .movie_img img{
        width: 100%;
    }

}

@media (max-width:1004px) {
    .navbar_list ul li{
        display: none;
    }

    .main_img{
        width: 90vw;
    }
}


@media (max-width: 928px) {
    .student_background_img,
    .education{
        width: 100vw;
    }

    .container{
        width: 90vw;
    }

    .main_img img{
        width: 90vw;
    }
}

@media (max-width: 528px) {
    .footer_li{
        display: none;
    }

    .call_number_sec{
        padding-top: 20px;
    }
}

@media (max-width: 396px) {
    .policy{
        display: none;
    }
}